@import "tailwindcss";

.dots-loader {
  width: 40px;
  height: 22.4px;
  margin: 0 auto;
  background: radial-gradient(farthest-side,#ffffff 90%,#0000) 0   50%/9.6px 9.6px,
         radial-gradient(farthest-side at bottom,#ffffff 90%,#0000) 50%  calc(50% - 2.4px)/9.6px 4.8px,
         radial-gradient(farthest-side at top   ,#ffffff 90%,#0000) 50%  calc(50% + 2.4px)/9.6px 4.8px,
         radial-gradient(farthest-side at bottom,#ffffff 90%,#0000) 100% calc(50% - 2.4px)/9.6px 4.8px,
         radial-gradient(farthest-side at top   ,#ffffff 90%,#0000) 100% calc(50% + 2.4px)/9.6px 4.8px;
  background-repeat: no-repeat;
  animation: dots-loader 1s infinite;
}

@keyframes dots-loader {
  25% {
    background-position: 0    50%,50% 0,50% 100%,100% 0,100% 100%;
  }
  50% {
    background-position: 100% 50%,0   0,0   100%,50%  0,50%  100%;
  }
  75%, 100% {
    background-position: 100% 50%,0 calc(50% - 2.4px),0 calc(50% + 2.4px),50% calc(50% - 2.4px),50% calc(50% + 2.4px);
  }
}

/* Custom scrollbar for tabs */
.tab-scroll::-webkit-scrollbar {
  height: 1px;
}

.tab-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.tab-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

.tab-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}