MONGO_URI=mongodb://localhost:27017/event_management_admin # mongodb connection string
JWT_SECRET=your_jwt_secret
NODE_ENV=development 
# EMAIL_API_KEY=your_email_api_key
# EMAIL=your_email@domain.com // for sending emails using brevo api
GCS_PROJECT_ID=event-management-codex # project id in gcs
GCS_BUCKET_NAME=event-management-uploads-2 # name of the bucket
GCS_KEY_FILE_PATH=./gcs-key.json # path to the gcs key file
